[bridge]

;
; core configuration options
;

;
; listener_port
; port to listen for incoming feed requests
;
listener_port=4000

;
; listener_address
; ipv4 address to listen; defaults to 127.0.0.1
; 0.0.0.0 binds to all interfaces
;
listener_address=0.0.0.0

;
; feed_host
; the IP address of this machine for Cb to contact with feed requests
;
feed_host=127.0.0.1

;
; binary_filter_query
; Query options to filter only binaries of interest to the Joe Sandbox connector
;
binary_filter_query=
;	; all executables (unless signed by Microsoft)
	is_executable_image:true -(digsig_publisher:"Microsoft Corporation" and digsig_result:"Signed")

;	; maximum binary size at time of collection (100MB)
	orig_mod_len:[1 TO 100000000]

;;	; operating system
;	os_type:windows
;	os_type:osx
;	os_type:linux

; Concurrency settings
;
; The following two parameters control how many concurrent queries will be
; performed against the Joe Sandbox server. The "quick_scan_threads" setting
; specifies how many threads will be querying the Joe Sandbox appliance via
; file hash at once. The "deep_scan_threads" setting specifies how many
; full file scans can be actively "in flight" at a given time. The default
; is that three files can be analyzed in parallel at any given time.

;joesandbox_quick_scan_threads=1
;joesandbox_deep_scan_threads=3

; Timeout settings
;
; The following setting controls how long we wait for an analysis result
; before giving up. (seconds)
;joesandbox_analysis_timeout=3600

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;; Joe Sandbox Settings                                                   ;;
;; https://jbxcloud.joesecurity.org/userguide?sphinxurl=usage/webapi.html ;;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

;
; Joe Sandbox API URL
;
; cloud example: https://jbxcloud.joesecurity.org/api
; local example: https://onpremise.example.net/index.php/api
;
joesandbox_apiurl=https://jbxcloud.joesecurity.org/api

; Enable or disable ssl verification.
joesandbox_sslverify=1

;
; Joe Sandbox API key
;
; You can find this key in the settings tab of Joe Sandbox.
;
joesandbox_apikey=

;
; Agreement to the Terms and Conditions of Joe Sandbox Cloud
; https://jbxcloud.joesecurity.org/index.php/download/termsandconditions.pdf
;
; By settings this value to 1, you agree to the terms and conditions.
; This is required for Joe Sandbox Cloud.
;
;joesandbox_accept_tac=1

;
; Analysis parameters
; See https://jbxcloud.joesecurity.org/userguide?sphinxurl=usage/webapi.html#apiv2-submission-new
; or your local help for a description of the parameters
;

; analysis systems, leave empty for automatic selection
;joesandbox_systems=w7,w7x64
;joesandbox_tags=carbonblack,mytag
;joesandbox_comments=
;joesandbox_analysis_time=30
;joesandbox_localized_internet_country=Switzerland
;joesandbox_internet_access=1
;joesandbox_internet_simulation=0
;joesandbox_report_cache=1
;joesandbox_hybrid_code_analysis=1
;joesandbox_hybrid_decompilation=1
;joesandbox_ssl_inspection=1
;joesandbox_vba_instrumentation=1
;joesandbox_js_instrumentation=1
;joesandbox_java_jar_tracing=1
;joesandbox_static_only=0
;joesandbox_start_as_normal_user=0
;joesandbox_anti_evasion_date=1
;joesandbox_language_and_locale=1
;joesandbox_archive_no_unpack=1
;joesandbox_hypervisor_based_inspection=1
;joesandbox_fast_mode=0
;joesandbox_secondary_results=1
;joesandbox_apk_instrumentation=1
;joesandbox_amsi_unpacking=1

# JOE SANDBOX CLOUD EXCLUSIVE PARAMETERS
;joesandbox_url_reputation=0
;joesandbox_delete_after_days=30

# ON PREMISE EXCLUSIVE PARAMETERS
;joesandbox_priority=2

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;; Carbon Black Enterprise Server options ;;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

;
; Carbon Black Enterprise Server URL
;
carbonblack_server_url=https://localhost/

;
; Carbon Black Enterprise Server API Token
;
carbonblack_server_token=

;
; Carbon Black Enterprise Server SSL Verfication
;
carbonblack_server_sslverify=0

;
; Specify the number of days prior to rescanning a binary
; Default: 365 days
;
days_rescan=365
